.cart-table {
  border-collapse: collapse;  /* makes borders merge neatly */
  width: 100%;
}

.cart-table th, .cart-table td {
  border: 1px solid #000;  /* gives each cell a border */
  background-color: rgb(46, 87, 122);
  padding: 8px;            /* space inside cells */
  text-align: center;
}
