/*  Global CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #222;
    padding: 0 1rem;
    justify-content: center;
}

/*  Header CSS */
header {
    background: #a27b26;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.PageName {
  font-size: 3rem; 
  color: #252121;  
  text-align: center; 
}


/*  Main CSS */
main {
    background: #cba752;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

/* Navigation CSS */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
  color: #d9ff79;
}

/* Quote & Citation CSS*/
q {
    font-style: italic;
    color: #333;
}
blockquote{
    font-style: italic;
    color: #333;
}
cite {
    font-style: normal;
    font-weight: bold;
    color: #262525;
}


